p {
    margin: 1rem 2rem;
    text-align: center;
    font-size: 0.9rem;
}

.pink-text {
    color: #F03CA1;
    font-weight: bold;
    font-size: 2rem;
}

.cursive-text {
    font-family: "Rochester", "cursive";
    font-weight: bold;
    font-size: 3rem;
    color: black;
}
